<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Ingresa el codigo 2FA</h1>
    <img src="<%= locals.qr %>" />
    <form action="/2fa" method="POST">
        <label>Codigo</label>
        <input type="text" name="otp" id="otp" maxlength="6"/>
        <br/>
        <input type="submit" value="login"/>
        <br/>
    </form>
    <% if (locals.msg) { %>
        <p><%= locals.msg %> </p>
    <% } %></html>
  </body>
</html>
