<!DOCTYPE html>
<html>
  <head>
    <title>Perfil</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hola <%= locals.user.name %></h1>
    <p>Ultimo inicio de sesion: <%= locals.user.lastlogindate %> </p>
    <a href=/logout>Cerrar sesion</a>
    <h3>Editar perfil</h3>
    <form action="/" method="POST">
      <label>Nombre</label>
      <input type="text" name="name" id="name"/>
      <input type="submit"/>
  </form>
  <h3>Auditoria</h3>
  <a href=/logs>Bitacora</a>
  <br/>
  <h3>Documentos</h3>
  <a href=/sign>Firmar Documentos</a>
  <br/>
  <a href=/crypt>Cifrar Documentos</a>
  <br/>
  <br/>
  <a href=/logout>Cerrar sesion</a>
  </body>
</html>
